<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.way.member.friend.dao.ApplyFriendInfoDao" >

    <select id="getAddFriendInfo" resultType="java.lang.Integer">
        select count(1) from apply_friend_info where phone_no=#{friendPhoneNo} and friend_phone_no=#{phoneNo}
    </select>

    <insert id="addApplyFriendInfo">
        insert into apply_friend_info (phone_no, friend_phone_no, apply_info, is_approve, create_time, modify_time)
        values (#{friendPhoneNo}, #{phoneNo}, #{applyInfo}, 0, now(), now())
    </insert>

    <update id="updateApplyFriendInfo">
        update apply_friend_info set apply_info=#{applyInfo},modify_time=now() where phone_no=#{friendPhoneNo} and friend_phone_no=#{phoneNo}
    </update>

    <select id="getApplicationRecordOfFriend" resultType="com.way.member.friend.dto.FriendsInfoDto">
        select friend.id,friend.friend_phone_no friendPhoneNo,friend.apply_info applyInfo,friend.is_approve isApprove,
        member.head_pic headPic,member.nick_name friendNickName from apply_friend_info friend
        left join member_info member on member.phone_no = friend.friend_phone_no
        where friend.phone_no = #{phoneNo}
    </select>

    <update id="agreeToAddFriend">
        update apply_friend_info set is_approve=#{isApprove} where id = #{applicationId}
    </update>

</mapper>
