<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.way.member.friend.dao.GroupInfoDao" >

    <insert id="addGroupInfo">
        insert into group_info (group_name, invitation_code,is_accredit_visible,accredit_startTime,accredit_endTime,accredit_weeks, create_time) values
        (#{groupName}, #{invitationCode},'1','09:00','17:00','1,2,3,4,5', #{createTime})
    </insert>

    <select id="getGroupInfo" resultType="com.way.member.friend.entity.GroupInfoEntity">
        select id groupId,group_name groupName,is_accredit_visible isAccreditVisible,accredit_startTime accreditStartTime,
        accredit_endTime accreditEndTime,accredit_weeks accreditWeeks from group_info where id = #{groupId}
    </select>

    <update id="modifyGroupInfo">
        update group_info set group_name = #{groupName},is_accredit_visible = #{isAccreditVisible},accredit_startTime = #{accreditStartTime},
        accredit_endTime = #{accreditEndTime},accredit_weeks = #{accreditWeeks} where id = #{groupId}
    </update>

    <delete id="deleteGroupInfo">
        delete from group_info where id = #{groupId}
    </delete>

    <select id="getGroupInfoListByInvitationCode" resultType="com.way.member.friend.entity.GroupInfoEntity">
        select id groupId,group_name groupName from group_info where invitation_code=#{invitationCode} order by create_time asc
    </select>

</mapper>
