<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.way.member.member.dao.MemberDao">
	
	<resultMap type="com.way.member.member.entity.MemberInfoEntity" id="memberInfoMap">
		<result property="phoneNo" column="phone_no" />
		<result property="nickName" column="nick_name" />
		<result property="nickSpell" column="nick_spell" />
		<result property="gender" column="gender" />
		<result property="memberType" column="member_type" />
		<result property="valueAddedService" column="valueAdded_service" />
		<result property="age" column="age" />
		<result property="headPicId" column="head_pic_id" />
		<result property="memberStartTime" column="member_startTime" />
		<result property="memberEndTime" column="member_endTime" />
		<result property="valueAddedServiceStartTime" column="valueAdded_service_startTime" />
		<result property="valueAddedServiceEndTime" column="valueAdded_service_endTime" />
		<result property="integral" column="integral" />
		<result property="invitationCode" column="invitation_code" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
	</resultMap>

	<!-- 保存用户信息 -->
	<insert id="insert" parameterType="com.way.member.member.entity.MemberInfoEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO member_info (phone_no, member_type, valueAdded_service, create_time, modify_time)
		VALUES (#{phoneNo}, #{memberType}, #{valueAddedService}, now(), now())
	</insert>
	
	<!-- 根据手机号查询用户信息 -->
	<select id="selectUserInfoByMobile" parameterType="java.lang.String" resultMap="memberInfoMap">
		SELECT phone_no,member_type,valueAdded_service FROM MEMBER_INFO
		WHERE phone_no = #{phoneNo}
	</select>

	<!-- 根据手机号查询会员信息 -->
	<select id="queryMemberInfo" parameterType="java.lang.String" resultType="com.way.member.member.entity.MemberInfoEntity">
		SELECT T.PASSWORD,F.PHONE,T.MEMBERID,F.MEMBERSOURCE,F.IDCARNO  FROM MEMBER_PASSWORD T
			LEFT JOIN MEMBER_INFO F ON F.ID = T.MEMBERID
			WHERE F.PHONE = #{mobile}
	</select>
	
	<!-- 修改会员登录密码 -->
	<update id="updatePassword" parameterType="java.util.Map">
		UPDATE MEMBER_PASSWORD SET PASSWORD = #{newPassword},UPDATETIME = now()
		WHERE phone_no = #{phoneNo}
	</update>

	<update id="updateHeadPicIdByPhoneNo">


	</update>

</mapper>