<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.way.member.member.dao.MemberDao">
	
	<resultMap type="com.way.member.member.entity.MemberInfoEntity" id="memberInfoMap">
		<result property="phoneNo" column="phone_no" />
		<result property="nickName" column="nick_name" />
		<result property="nickSpell" column="nick_spell" />
		<result property="gender" column="gender" />
		<result property="memberType" column="member_type" />
		<result property="trajectoryService" column="trajectory_service" />
		<result property="fenceService" column="fence_service" />
		<result property="age" column="age" />
		<result property="headPic" column="head_pic" />
		<result property="memberStartTime" column="member_startTime" />
		<result property="memberEndTime" column="member_endTime" />
		<result property="rewardScore" column="reward_score" />
		<result property="invitationCode" column="invitation_code" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
	</resultMap>

	<!-- 保存用户信息 -->
	<insert id="insert" parameterType="com.way.member.member.entity.MemberInfoEntity">
		INSERT INTO member_info (phone_no,nick_name,nick_spell,gender, member_type, trajectory_service, fence_service, reward_score,
		invitation_code, create_time, modify_time)
		VALUES (#{phoneNo}, #{nickName}, #{nickSpell}, '1', #{memberType}, #{trajectoryService}, #{fenceService},'0.0', #{invitationCode},
		#{createTime}, #{modifyTime})
	</insert>
	
	<!-- 根据手机号查询用户信息 -->
	<select id="selectUserInfoByMobile" parameterType="java.lang.String" resultMap="memberInfoMap">
		SELECT phone_no,member_type,reward_score,trajectory_service,fence_service,invitation_code,member_startTime,member_endTime FROM MEMBER_INFO
		WHERE phone_no = #{phoneNo}
	</select>

	<!-- 根据手机号查询会员信息 -->
	<select id="queryMemberInfo" parameterType="java.lang.String" resultType="com.way.member.member.entity.MemberInfoEntity">
		SELECT phone_no phoneNo FROM member_info WHERE phone_no = #{phoneNo}
	</select>

	<!-- 修改会员登录密码 -->
	<update id="updatePassword" parameterType="java.util.Map">
		UPDATE MEMBER_PASSWORD SET password = #{newPassword},modify_time = now()
		WHERE phone_no = #{phoneNo}
	</update>

	<update id="updateHeadPicIdByPhoneNo">
		update member_info set head_pic = #{headPicId} where phone_no = #{phoneNo}
	</update>

	<select id="searchUserByPhoneNo" resultMap="memberInfoMap">
		SELECT phone_no,head_pic,nick_name FROM member_info WHERE phone_no = #{phoneNo}
	</select>
	<select id="getMemberInfo" resultMap="memberInfoMap">
		SELECT head_pic,nick_name,age,member_type,trajectory_service,fence_service,reward_score,member_startTime,member_endTime,invitation_code
		FROM MEMBER_INFO WHERE phone_no = #{phoneNo}
	</select>

	<update id="modifyMemberInfo">
		update MEMBER_INFO
		<set >
			<if test="headPic != null" >
				head_pic = #{headPic},
			</if>
			<if test="nickName != null" >
				nick_name = #{nickName},
			</if>
			<if test="nickSpell != null" >
				nick_spell = #{nickSpell},
			</if>
			<if test="age != null" >
				age = #{age},
			</if>
			<if test="gender != null" >
				gender = #{gender},
			</if>
			<if test="modifyTime != null" >
				modify_time = #{modifyTime},
			</if>
		</set>
		where phone_no = #{phoneNo}
	</update>

	<update id="addRewardScore">
		update member_info set reward_score = reward_score + #{rewardScore} where phone_no = #{phoneNo}
	</update>

	<update id="minusMemberTypeInfo">
		update member_info
		<set >
			<if test="rewardScore != null" >
				reward_score = reward_score - #{rewardScore},
			</if>
			<if test="memberType != null" >
				member_type = #{memberType},
			</if>
			<if test="memberStartTime != null" >
				member_startTime = #{memberStartTime},
			</if>
			<if test="memberEndTime != null" >
				member_endTime = #{memberEndTime},
			</if>
			<if test="trajectoryService != null" >
				trajectory_service = #{trajectoryService},
			</if>
			<if test="fenceService != null" >
				fence_service = #{fenceService},
			</if>
			<if test="modifyTime != null" >
				modify_time = #{modifyTime},
			</if>
		</set>
		where phone_no = #{phoneNo}
	</update>
</mapper>