<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.way.member.member.dao.PasswordDao">

	<!-- 保存密码 -->
	<insert id="insert" parameterType="com.way.member.member.entity.PasswordPo">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into member_password (phone_no, password, createTime, modify_time)
		values (#{phoneNo}, #{password}, now(), now())
	</insert>
	
	<!-- 根据会员ID和登录密码查询会员手机号 -->
	<select id="checkCurPassword" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT count(1) FROM member_password
			WHERE phone_no = #{phoneNo}
				AND password = #{curPasssword}
	</select>
	
</mapper>