<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.way.member.member.dao.PasswordDao">

	<insert id="insert" parameterType="com.way.member.member.entity.PasswordPo">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into member_password (
			id, memberId, password, createTime)
		values (
			#{id,jdbcType=BIGINT}, #{memberId,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR}, now())
	</insert>
	
	<!-- 根据会员ID和登录密码查询会员手机号 -->
	<select id="queryCurPasswdById" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT MEMBERID FROM MEMBER_PASSWORD
			WHERE MEMBERID = #{memberId}
				AND PASSWORD = #{curPasssword}
	</select>
	
	<!-- 根据会员ID查询会员信息 -->
	<select id="queryPasswdById" parameterType="java.lang.Long" resultType="java.lang.String">
		SELECT MEMBERID FROM MEMBER_PASSWORD
			WHERE MEMBERID = #{memberId}
	</select>
</mapper>