<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.way.member.position.dao.PositionInfoDao" >

    <insert id="savePosition">
        insert into member_location_info_${flag} (phone_no, longitude, latitude, create_time, modify_time) values
        (#{po.phoneNo}, #{po.longitude}, #{po.latitude}, now(), now())
    </insert>

    <update id="updatePosition">
        update member_location_info_${flag} set longitude=#{po.longitude}, latitude=#{po.latitude}, modify_time=now() where id = #{id}
    </update>

    <select id="getRealtimePositionByPhoneNo" resultType="com.way.member.position.dto.PositionInfoDto">
        select id, phone_no phoneNo, longitude, latitude, date_format(modify_time,'%Y-%m-%d %h:%i:%s') modifyTime
        from member_location_info_${flag} where phone_no = #{phoneNo}
        <if test="modifyTime != null" >
            and date_format(modify_time,'%Y-%m-%d %h:%i:%s') > #{modifyTime},
        </if>
        order by modify_time desc limit 1
    </select>

    <select id="getMemberHistoryPositions" resultType="com.way.member.position.dto.PositionInfoDto">
        select longitude, latitude from member_location_info_${flag} where phone_no = #{phoneNo}
        and date_format(modify_time,'%Y-%m-%d %h:%i:%s') between #{startTime} and #{endTime}
        order by id desc
    </select>

</mapper>